<template lang="html">
  <div class="autocomplete-textfield__wrapper">
    <input v-model="model"
           :class="inputClasses"
           :size="inputSize"
           :placeholder="load ? '' : inputPlaceholder"
           :disabled="load"
           @focus.stop="onFocus()"
           @blur="onBlur($event)"
           class="autocomplete-textfield__input"
           type="text">
    <input :data-drupal-selector="dataDrupalSelector" :id="inputId" :name="inputName" :value="selectedValue" type="hidden">
    <div class="autocomplete-textfield__icon">
      <div v-if="(selected && !queryInProgress)" @click.stop="onClickClearSuggestion()" class="autocomplete-textfield__icon-cross">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="12px" height="12px" viewBox="0 0 348.333 348.334">
          <path d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85   c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563   c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85   l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554   L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z" fill="#c72100"></path>
        </svg>
      </div>
      <div v-if="(load || queryInProgress)" class="autocomplete-textfield__icon-load">
        <svg class="autocomplete-textfield__icon-load-loader" width="16" height="16">
          <circle class="autocomplete-textfield__icon-load-loader-path" r="7" cx="8" cy="8" fill="none" stroke="#7f8387" stroke-width="2">
          </circle>
        </svg>
      </div>
      <div v-if="!(load || queryInProgress || selected)" :class="{_opened: opened}" @click.stop="onClickExpandSuggestions()" class="autocomplete-textfield__icon-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="12px" height="12px" viewBox="0 0 444.819 444.819">
          <path d="M434.252,114.203l-21.409-21.416c-7.419-7.04-16.084-10.561-25.975-10.561c-10.095,0-18.657,3.521-25.7,10.561   L222.41,231.549L83.653,92.791c-7.042-7.04-15.606-10.561-25.697-10.561c-9.896,0-18.559,3.521-25.979,10.561l-21.128,21.416   C3.615,121.436,0,130.099,0,140.188c0,10.277,3.619,18.842,10.848,25.693l185.864,185.865c6.855,7.23,15.416,10.848,25.697,10.848   c10.088,0,18.75-3.617,25.977-10.848l185.865-185.865c7.043-7.044,10.567-15.608,10.567-25.693   C444.819,130.287,441.295,121.629,434.252,114.203z" fill="#7f8387"></path>
        </svg>
      </div>
    </div>
    <ul :class="{_opened: opened}" class="autocomplete-textfield__suggestions">
      <li v-if="suggestions.length === 0" class="autocomplete-textfield__suggestion-no-items">No items</li>
      <li v-else v-for="suggestion in filteredSuggestions" @click.stop="onClickSelectSuggestion(suggestion)" class="autocomplete-textfield__suggestion-item">
        {{suggestion.value}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AutocompleteTextfield',
  props: {
    value: {
      type: String
    },
    dataDrupalSelector: {
      type: String
    },
    inputId: {
      type: String
    },
    inputName: {
      type: String
    },
    inputClasses: {
      type: String
    },
    inputSize: {
      type: Number
    },
    inputPlaceholder: {
      type: String
    },
    route: {
      type: String
    },
    selectedValueRoute: {
      type: String
    },
    useQuery: {
      type: Boolean
    },
    alwaysReload: {
      type: Boolean
    }
  },
  data() {
    return {
      selectedValue: this.value || null,
      model: null,
      suggestions: [],
      filteredSuggestions: [],
      selectedSuggestion: null,
      savedSuggestion: null,

      load: false,
      opened: false,
      focused: false,
      selected: false,
      queryInProgress: false,
      timer: null
    }
  },
  created() {
    let self = this;
    window.addEventListener('click', self.onCloseSuggestionsArea);
    self.load = true;
    self.getSuggestionsAndResolve();
  },
  watch: {
    model: function (newValue, oldValue) {
      if (newValue.trim() === '') {
        this.onClickClearSuggestion();
        return;
      }

      if (oldValue !== newValue) {
        if (this.useQuery && (!this.selectedSuggestion || newValue !== this.selectedSuggestion.value)) {
          clearTimeout(this.timer);
          this.timer = setTimeout(function (autocomplete) {
            autocomplete.queryInProgress = true;
            autocomplete.getSuggestionsFromQuery()
          }, 200, this);
        } else {
          this.filteredSuggestions = this.suggestions.filter(suggestion => {
            return suggestion.value.toLowerCase().includes(newValue.toLowerCase())
          });
        }
      }
    }
  },
  methods: {
    onCloseSuggestionsArea: function () {
      let self = this;
      if (!self.focused && this.opened) {
        this.opened = false;
      }
    },
    onFocus: function () {
      let self = this;
      self.filteredSuggestions = self.suggestions;
      self.focused = self.opened = true;
    },
    onBlur: function () {
      let self = this;
      self.focused = false;
    },
    onClickExpandSuggestions: function () {
      if(this.alwaysReload && !this.opened){
        this.load = true;
        this.getSuggestionsAndResolve()
      }
      this.opened = !this.opened;
    },
    onClickSelectSuggestion: function (suggestion) {
      let self = this;
      self.selectedSuggestion = suggestion;
      self.selectedValue = suggestion.id;
      self.model = self.selectedSuggestion.value;
      self.opened = false;
      self.selected = true;
    },
    onClickClearSuggestion: function () {
      let self = this;
      self.selectedSuggestion = null;
      self.selectedValue = null;
      self.model = "";
      self.selected = false;
    },
    resolveDefaultValue: function (suggestion) {
      let self = this;
      if (suggestion) {
        self.selectedSuggestion = suggestion;
        self.savedSuggestion =  suggestion;
        self.selectedValue = self.selectedSuggestion.id;
        self.model = self.selectedSuggestion.value;
      } else {
        if (self.useQuery && !self.savedSuggestion) {
          window.getSuggestions(self.selectedValueRoute, self.value, self.alwaysReload).then(response => {
            self.savedSuggestion = response;
            self.suggestions.unshift(self.savedSuggestion);
            self.selectedSuggestion = self.savedSuggestion;
            self.selectedValue = self.savedSuggestion.id;
            self.model = self.savedSuggestion.value;
          });
        } else {
          self.selectedSuggestion = {id: self.defaultValue, value: '[Entity not found]'};
          self.selectedValue = self.selectedSuggestion.id;
          self.model = self.selectedSuggestion.value;
        }
      }
      self.selected = true;
    },
    getSuggestionsAndResolve: function () {
      let self = this;
      window.getSuggestions(self.route, self.model, self.alwaysReload).then(response => {
        self.suggestions = self.filteredSuggestions = response;
        if (self.value) {
          const found = self.suggestions.find(suggestion => suggestion.id === self.value);
          self.resolveDefaultValue(found);
        }
        self.load = false;
      });
    },
    getSuggestionsFromQuery: function () {
      let self = this;
      window.getSuggestions(self.route, self.model, self.alwaysReload).then(response => {
        self.suggestions = self.filteredSuggestions = response;
        if (self.savedSuggestion) {
          const found = self.suggestions.find(suggestion => suggestion.id === self.savedSuggestion.id);
          if(!found){
            self.suggestions.unshift(self.savedSuggestion);
          }
        }
        self.load = false;
        self.queryInProgress = false;
      });
    },
  },
}

</script>

<style lang="less">
@border-color:  #b8b8b8;
@border-field: 1px solid @border-color;
@border-outline: 1px solid #68a3cf;

input {
  padding: 0;
  margin: 0;

  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.autocomplete-textfield {
  &__wrapper {
    display: inline-block;
    position: relative;
  }

  &__default-value {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 10px;
    transform: translateY(-50%);

    &-cross, &-load, &-arrow {
      width: 12px;
      height: 16px;
    }

    &-cross, &-arrow {
      cursor: pointer;
    }

    &-arrow {
      width: 12px;
      height: 16px;
      transition: all 0.4s ease;

      &._opened {
        transform: rotate(-180deg);
      }
    }

    &-load {
      &-loader {
        animation: rotate 2s linear infinite;
        transform-origin: center center;

        &-path {
          stroke-dasharray: 150, 200;
          stroke-dashoffset: -10;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          stroke-linecap: round;
        }
      }
    }
  }

  &__suggestions {
    display: none;
    position: absolute;
    width: calc(100% - 6px);
    max-height: 500px;
    margin: 0;
    padding: 0 2px;
    background-color: #fff;
    border-left: @border-field;
    border-right: @border-field;
    border-bottom: @border-field;
    overflow-y: auto;
    z-index: 100;

    &._opened {
      display: block;
    }
  }

  &__suggestion-no-items {
    color: #7f8387;
    text-align: center;
    font-style: italic;
  }

  &__suggestion-item {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124;
    }
  }
  @keyframes color {
    0% {
      stroke: #7f8387;
    }
    40% {
      stroke: #7f8387;
    }
    66% {
      stroke: #7f8387;
    }
    80%, 90% {
      stroke: #7f8387;
    }
  }
}
</style>
